* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #697782;
}

.btn {
  padding: 5px 10px;
  margin-left: 10px;
  border: 2px solid #A1DE41;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.8);
}
.black {
  border: 2px solid #697782;
  margin-left: 0;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  min-width: 350px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #697782;
  background-color: #fff;
}

/* Header-top */
.header-top {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 80px;
  background-color: #232425;
  border-bottom: 2px solid rgb(40,44,45,.8);
  opacity: .9;
}
.header-top-container {
  width: 80%;
  margin: 0 auto;
  line-height: 80px;
}
.header-top-container::after {
  content: "";
  display: table;
  clear: both;
}
.header-logo {
float: left;
width: 40%;
}
.header-logo img {
  width: 20%;
  vertical-align: middle;
}
.header-nav-bar{
float: right;
width: 60%;
text-align: right;
}
.nav-bar li {
  display: inline-block;
  list-style: none;
  padding-left: 10px;
}
.nav-bar li a:hover {
  color: #fff;
  border-bottom: 2px solid #1FC0ED;
}
.nav-bar .menu a:hover {
  border-bottom: none;
}
.nav-bar .btn:hover {
  background-color: #333535;
  border-bottom:2px solid #A1DE41;
  color: #A1DE41;
}
.nav-bar .black:hover {
  border-bottom:2px solid #697782;
}
.nav-bar li i {
  font-size: 8px;
}
.humburger {
  display: none;
  font-size: 40px;
  color: #fff;
  vertical-align: middle;
}
/* Header-banner */
.header-banner {
  padding-top: 80px;
  background-color:#232425;
}
.banner-text {
  text-align: center;
}
.banner-text h1 {
  padding-top: 80px;
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #fff;
}
.banner-text p {
  width: 60%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 24px;
  margin-bottom: 40px;
}
.banner-text .btn {
  padding: 15px 40px;
}
.banner-img {
  text-align: center;
}
.banner-img img {
  padding-top: 80px;
  height: 60%;
}
/* Main */
/* Main-logo */
#main-logo {
  width: 100%;
  border-bottom: 1px solid rgb(40,44,45,.2);
}
.logos {
  width: 80%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
}
.logos li {
  flex-basis: calc(100% / 5);
}
.logos li img {
padding: 10px;
width: 65%;
}
.logos li img.net {
  width: 30%;
}
/* learning */
#learning {
padding-top: 60px;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.text {
  float: left;
  width: 30%;
  margin-left: 8%;
  margin-top: 150px;
}
.text img {
  margin-right: 15px;
  width: 6%;
  vertical-align: middle;
}
.text h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #414A4D;
  font-size: 2em;
}
.text p {
  font-size: 1.2em;
  line-height: 24px;
  margin-bottom: 15px;
}
.text a {
  font-weight: bold;
  color: #57CFF1;
  border-bottom: 2px solid #57CFF1;
}
.text a i {
  font-size: 10px;
  font-weight: bold;
}
.img {
  float: right;
  width: 55%;
}
.img img {
width: 100%;
margin-top: 80px;
margin-bottom: 60px;
}
/* Sharing */
#sharing {
  padding-top: 40px;
  background-color: #232425;
}
#sharing .text img {
  width: 6%;
  padding: 3px;
  border: 2px solid #6E7BC7;
  border-radius: 0;
}
#sharing h2 {
  color: #ECEEEF;
}
#sharing .img img {
  width: 85%;
  margin-top: 300px;
  margin-bottom: -5px;
  margin-left: 40px;
}
/* Graphics  */
#graphics {
  padding-top: 40px;
}
#graphics {
  background-image: url(../img/onda.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 40%;
}
#graphics .container-img {
  position: relative;
  width: 45%;
  height: 250px;
  margin-top: 300px;
  margin-bottom: -5px;
  display: inline-block;
  background-image: url(../img/raster.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#graphics .container-img .loupe {
  position: absolute;
  top: 15%;
  left: 60%;
  z-index: 1;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-image: url(../img/raster.png);
  background-position: 80% 25%;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  cursor: grab;
}
#graphics .space {
  width: 2%;
  height: 250px;
  display: inline-block;
}
.graphics-btn {
  display: none;
  padding: 5px 25px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  font-size: 1.1em;
  background-color: #5B25D1;
  border: 2px dotted #7f53c5;
  border-radius: 20px;
}
/* Platform  */
#platform {
  border: 1px solid #E7ECF0;
  border-bottom: 3px solid #556EFE;
  text-align: center;
}
#platform img {
  padding-top: 100px;
}
#platform .free {
  float: left;
  width: 50%;
}
#platform .cross {
  float: right;
  width: 50%;
  border-left: 1px solid #E7ECF0;
}
#platform h3 {
  padding-top: 40px;
  padding-bottom: 25px;
  color: #3B4447;
  font-size: 1.5em;
}
#platform p {
  width: 80%;
  margin: 0 auto;
  line-height: 24px;
}
#platform h6 {
  font-size: .9em;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 80px;
}
/* Footer */
/* Footer-top */
.footer-top {
  height: 100px;
  background-color: #1E2223;
  border-bottom: 1px solid rgb(40,44,45,.8);
}
/* Footer-menu */
.footer-menu {
  height: 320px;
  background-color: #1E2122;
  border-top: 3px solid #1C1D1D;
  border-bottom: 3px solid #1C1D1D;
}
.footer-menu .container-flex {
  display: flex;
}
.footer-menu ul {
  padding: 40px 80px;
  line-height: 26px;
  list-style: none;
}
.footer-menu ul li:first-child  {
  color: #BAC9D1;
  font-weight: bold;
}
.footer-menu ul li a:hover {
  opacity: .5;
}
.footer-btn {
  padding: 15px;
  margin-left: 80px;
  background-color: #242A2D;
  border: 2px solid #3E535E;
  border-radius: 25px;
}
.footer-btn  span {
  padding-left: 15px;
  padding-right: 100px;
  color:#BAC9D1;
  font-weight: bold;
}
.footer-btn i {
  font-size: 18px;
  vertical-align: text-top;
}
/* Footer-bottom */
.footer-bottom {
  background-color:  #1E2122;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.footer-logos {
  float: left;
  width: 85%;
}
.footer-logos h6 {
  display: inline-block;
  font-size: .9em;
  font-weight: normal;
  padding-right: 15px;
  line-height: 50px;
}
.footer-logos a img {
  height: 17px;
  padding-right: 15px;
  vertical-align: middle;
  opacity: .4;
}
.footer-logos .rf img  {
  height: 12px;
}
.footer-logos .design img,
.footer-logos .su img  {
  height: 15px;
}
.copyright {
  float: right;
  width: 15%;
  text-align: right;
  font-size: .9em;
  line-height: 50px;
}
.footer-bottom-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 4;
  padding: 5px 15px;
  background-color: #368BD6;
  border-radius: 3px;
  color: #fff;
  font-size: 1.1em;
  vertical-align: middle;
}
.footer-bottom-btn i {
  padding-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}

/* Media Queries */
@media screen and (max-width: 900px) {
  .header-top-container {
    width: 90%;
  }
  .header-logo img {
    width: 25%;
  }
  .nav-bar {
  display: none;
  }
  .humburger {
    display: inline-block;
  }
  #learning {
    padding-top: 0;
    text-align: center;
  }
  .text {
    width: 100%;
    margin-left: 0;
  }
  .text img {
    text-align: center;
    width: 4%;
  }
  .img {
    width: 70%;
    margin-right: 130px;
    margin-bottom: 80px;
  }
  #sharing {
    padding-top: 0;
    text-align: center;
  }
  #sharing .text img {
    width: 3%;
  }
  #sharing .img img {
    width: 90%;
    margin-bottom: -85px;
  }
  #graphics {
    text-align: center;
    padding-top: 0;
    background-size: 100% 20%;
  }
  #graphics .img {
    width: 100%;
    margin-right: -10px;
  }
  #graphics .container-img {
    width: 35%;
    height: 350px;
    margin-top: 300px;
    margin-bottom: -50px;
  }
  #graphics .container-img .loupe {
    top: 10%;
    left: 65%;
  }
  .graphics-btn  {
    display: block;
  }
  #platform .free {
    padding-bottom: 60px;
    width: 100%;
    border-bottom: 1px solid #E7ECF0;
  }
  #platform .cross {
    width: 100%;
    border-left:none;
  }
  .footer-menu .container-flex {
    display: flex;
  }
  .footer-menu ul {
    padding: 40px;
  }
  .footer-btn {
    margin-left: 25px;
  }
  .footer-logos h6 {
    display: block;
  }
  .footer-logos {
    width: 100%;
  }
  .copyright {
    width: 20%;
  }
}

@media screen and (max-width: 800px) and (min-width: 550px) {
  .banner-img img  {
    width: 100%;
  }

  #graphics .container-img {
    width: 45%;
  }
  #graphics .container-img .loupe {
    top: 8%;
    left: 60%;
  }
  .footer-menu ul {
    display: none;
  }
  .footer-top {
    height: 50px;
  }
  .footer-menu {
    height: 100px;
  }
  .footer-btn {
  line-height: 100px;
  }
  .footer-btn  span {
    padding-right: 70%;
  }
  .footer-logos h6 {
    display: none;
  }
  .footer-logos {
    text-align: center;
    width: 100%;
    line-height: 48px;
  }
  .copyright {
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }
  .footer-logos a img {
    height: 22px;
    padding-right: 80px;
  }
  .footer-logos .rf img  {
    height: 17px;
  }
  .footer-logos .design img,
  .footer-logos .su img  {
    height: 19px;
  }
}

@media screen and (max-width: 550px) {
  .banner-img img {
    width: 100%;
  }
  .logos {
    margin: 0 10px;
  }
  .logos li img {
  width: 160%;
  }
  .logos li img.net,
   .logos li img.lifeh{
    display: none;
  }
  #learning .img img  {
    width: 130%;
    margin-left: 25px;
  }
  #sharing .img img {
    width: 120%;
    margin-top: 150px;
  }
  #graphics .container-img {
    width: 85%;
    height: 600px;
    margin-top: 60px;
  }
  #graphics .space {
    width: 0;
  }
  #platform img {
    width: 70%;
  }
  .footer-menu ul {
    display: none;
  }
  .footer-top {
    height: 50px;
  }
  .footer-menu {
    height: 100px;
  }
  .footer-btn {
  line-height: 100px;
  }
  .footer-logos h6 {
    display: none;
  }
  .footer-logos {
    text-align: center;
    width: 100%;
    line-height: 48px;
  }
  .copyright {
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }
  .footer-logos a img {
    height: 22px;
    padding-right: 80px;
  }
  .footer-logos .rf img  {
    height: 17px;
  }
  .footer-logos .design img,
  .footer-logos .su img  {
    height: 19px;
  }
  .footer-btn {
    margin-left: 30px;
  }
  .footer-btn  span {
  padding-right: 50%;
  }
  .footer-logos {
    margin-left: 30px;
  }

}
