* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #697782;
}

.btn {
  padding: 5px 10px;
  margin-left: 10px;
  border: 2px solid #A1DE41;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.8);
}
.black {
  border: 2px solid #697782;
  margin-left: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #697782;
  background-color: #fff;
}

/* Header-top */
.header-top {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #232425;
  opacity: .9;
  line-height: 80px;
  border-bottom: 1px solid #697782;
}
.header-top-container {
  width: 80%;
  margin: 0 auto;
}
.header-top-container::after {
  content: "";
  display: table;
  clear: both;
}
.header-logo {
float: left;
width: 40%;
}
.header-logo img {
  width: 20%;
}
.header-nav-bar{
float: right;
width: 60%;
text-align: right;
}
.nav-bar li {
  display: inline-block;
  list-style: none;
  padding-left: 10px;
}
.nav-bar li a:hover {
  color: #fff;
  border-bottom: 2px solid #1FC0ED;
}
.nav-bar .menu a:hover {
  border-bottom: none;
}
.nav-bar .btn:hover {
  background-color: #333535;
  border-bottom:2px solid #A1DE41;
  color: #A1DE41;
}
.nav-bar .black:hover {
  border-bottom:2px solid #697782;
}
.nav-bar li i {
  font-size: 8px;
}
.humburger {
  display: none;
  font-size: 36px;
  color: #fff;
}
/* Header-banner */
.header-banner {
  padding-top: 80px;
  background-color:#232425;
}
.banner-text {
  text-align: center;
}
.banner-text h1 {
  padding-top: 80px;
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #fff;
}
.banner-text p {
  width: 60%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 24px;
  margin-bottom: 40px;
}
.banner-text .btn {
  padding: 15px 40px;
}
.banner-img {
  text-align: center;
}
.banner-img img {
  padding-top: 80px;
  height: 60%;
}
/* Main */
/* Main-logo */
.logos {
  list-style: none;
  display: flex;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid #697782;
}
.logos li {
  flex-basis: calc(100% / 5);
}
.logos li img {
padding: 10px;
margin-top: 10px;
width: 45%;
}
.logos li .net {
  width: 20%;
  border-radius: 50%;
}
/* learning */
#learning {
padding-top: 80px;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.text {
  float: left;
  width: 30%;
  margin-left: 8%;
  margin-top: 150px;
}
.text img {
  margin-right: 15px;
  width: 8%;
  border-radius: 50%;
  vertical-align: middle;
}
.text h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #414A4D;
  font-size: 2em;
}
.text p {
  font-size: 1.2em;
  line-height: 24px;
  margin-bottom: 15px;
}
.text a {
  font-weight: bold;
  color: #57CFF1;
  border-bottom: 2px solid #57CFF1;
}
.text a i {
  font-size: 10px;
  font-weight: bold;
}
.img {
  float: right;
  width: 55%;
}
.img img {
width: 100%;
margin-top: 80px;
}
/* Sharing */
#sharing {
  padding-top: 80px;
  background-color: #232425;
}
#sharing .text img {
  width: 6%;
  padding: 3px;
  border: 2px solid #6E7BC7;
  border-radius: 0;
}
#sharing h2 {
  color: #ECEEEF;
}
#sharing .img img {
  width: 85%;
  margin-top: 250px;
  margin-left: 40px;
}
/* Graphics  */
#graphics {
  padding-top: 80px;
}
#graphics .img img {
  margin-top: 300px;
  padding: 10px;
  width: 45%;
}
/* Platform  */
#platform {
  margin-top: -15px;
  padding-bottom: 80px;
  border: 1px solid #546DFB;
  border-bottom: 3px solid #546DFB;
  text-align: center;
}
#platform .container {

}
#platform .free {
  float: left;
  width: 50%;
}
#platform .cross {
  float: right;
  width: 50%;
}
#platform h3 {
  margin-top: 40px;
  margin-bottom: 25px;
  color: #3B4447;
  font-size: 1.5em;
}
#platform p {
  width: 80%;
  padding-bottom: 20px;
  margin: 0 auto;
  line-height: 24px;
}
#platform h6 {
  font-size: .8em;
}

/* Footer */
/* Footer-top */
.footer-top {
  height: 300px;
  background-color: #1E2223;
  border-bottom: 1px solid #697782;
}
/* Footer-menu */
.footer-menu {
  height: 320px;
  background-color: #1E2122;
  border-top: 3px solid #1C1D1D;
  border-bottom: 3px solid #1C1D1D;
}
.footer-menu .container-flex {
  display: flex;
}
.footer-menu ul {
  padding: 40px 80px;
  line-height: 26px;
  list-style: none;
}
.footer-menu ul li:first-child  {
  color: #BAC9D1;
  font-weight: bold;
}
.footer-menu ul li a:hover {
  opacity: .5;
}
.footer-btn {
  padding: 15px;
  margin-left: 80px;
  background-color: #242A2D;
  border: 2px solid #3E535E;
  border-radius: 25px;
}
.footer-btn  span {
  padding-left: 15px;
  padding-right: 100px;
  color:#BAC9D1;
  font-weight: bold;
}
.footer-btn i {
  font-size: 18px;
  vertical-align: text-top;
}
/* Footer-bottom */
.footer-bottom {
  height: 50px;
  background-color:  #1E2122;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.footer-logos {
  float: left;
  width: 85%;
}
.footer-logos h6 {
  display: inline-block;
  font-size: .9em;
  font-weight: normal;
  padding-right: 15px;
  line-height: 50px;
}
.footer-logos a img {
  height: 17px;
  padding-right: 15px;
  vertical-align: middle;
  opacity: .4;
}
.footer-logos .rf img  {
  height: 12px;
}
.footer-logos .design img,
.footer-logos .su img  {
  height: 15px;
}

.copyright {
  float: right;
  width: 15%;
  text-align: right;
  font-size: .9em;
  line-height: 50px;
}



/* Media Queries */
@media screen and (max-width: 900px) {
  .nav-bar {
    display: none;
  }
  .humburger {
    display: block;
    line-height: 100px;
    vertical-align: middle;
  }
}
